

// some basic resets
.container {
  margin: 20px;
  display:flex;
}
body {
  padding: 0;
  margin: 0;
  font-family:sans-serif;
}
.full-width {
  width: 95%
}

.half-width {
  width: 45%
}

.form-size {
  width: 75%
}
