
<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="100" *ngIf="dish">
    <div>
      <h3>{{dish.name | uppercase}}</h3>
      <hr>
    </div>
  </div>

    <div fxFlex *ngIf="dish">
      <mat-card>
        <img mat-card-image src='{{dish.image}}' alt='{{dish.name}}'>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  <div fxFlex="40">
  <mat-list *ngIf="dish" >
    <h3 >Comments</h3>
    <mat-list-item *ngFor="let comment of dish.comments || []">
        <h4 matListItemLine> {{comment.comment}} </h4>
        <p matListItemLine >
           {{comment.rating}} Stars
        </p>
        <p matListItemLine >
          <span> --{{comment.author}} {{comment.date | date}}</span>
       </p>
        <span matListItemLine></span>

    </mat-list-item>
  </mat-list>
  </div>


